body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
}

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}

textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
}
  
.jumbotron {
    text-align: center;
    background-color: transparent;
    color: white;
    background-color: mediumblue;
    border-radius: 0;
    border-bottom: 10px solid black;
}

/* Search Side, Button and Search History */
.leftSide {
    position: fixed;
    top: 220px;
    left: 0;
    width: 2000px;
  }

.cityBtn {
    background-color: cornflowerblue;
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius: var(--border-radius);
    border: none;
    outline: none;
}

.clearBtn {
    background-color: cornflowerblue;
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius: var(--border-radius);
    border: none;
    outline: none;
}

#searchDiv {
    background-color: cornflowerblue;
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius: var(--border-radius);
    border: none;
    outline: none;
}

.form-input {
    width: 100%;
    padding: 3%;
    margin: 5px 0;
    font-size: 1.2rem;
    border: 2px solid;
    border-radius: 0%;
}


/*PopUp Section*/
.rightSide {
    position: fixed;
    top: 225px;
    left: 500px;
    width: 2000px;
    font-size: x-large;
    align-self: auto;
  }

/*Cards Section*/


#card1 {
    position: fixed;
    top: 500px;
    left: 500px;
    width: 2000px;
    font-size: large;
    align-self: auto;
    background-color: darkslategrey;
    color: white;
}

#card2 {
    position: fixed;
    top: 500px;
    left: 800px;
    width: 2000px;
    font-size: large;
    align-self: auto;
    background-color: darkslategrey;
    color: white;
}

#card3 {
    position: fixed;
    top: 500px;
    left: 1100px;
    width: 2000px;
    font-size: large;
    align-self: auto;
    background-color: darkslategrey;
    color: white;
}

#card4 {
    position: fixed;
    top: 500px;
    left: 1400px;
    width: 2000px;
    font-size: large;
    align-self: auto;
    background-color: darkslategrey;
    color: white;
}

#card5 {
    position: fixed;
    top: 500px;
    left: 1700px;
    width: 2000px;
    font-size: large;
    align-self: auto;
    background-color: darkslategrey;
    color: white;
}